{% load static %}

<div class="dizme_tm_section">
    <div class="dizme_tm_copyright">
        <div class="container">
            <div class="inner">
                <div class="left wow fadeInLeft" data-wow-duration="1s">
                    <p>Developed  by <a href="https://www.linkedin.com/in/krishna100/" target="_blank">Krishnmohan Kumar</a> &copy; 2023</p>
                </div>
                {% comment %} <div class="right wow fadeInRight" data-wow-duration="1s">
                    <ul>
                        <li><a href="#">Terms &amp; Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</div>
<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>
<div class="progressbar">
    <a href="#"><span class="text">To Top</span></a>
    <span class="line"></span>
</div>
</div>
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>